<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite name="default">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>functional</group>
        </exclude>
    </groups>
    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>
    <php>
        <env name="DN_INI_FILE" value="./tests/fixtures/test.ini"/>
    </php>
</phpunit>